.section-6 {
	padding-bottom: 4rem;

	.container {
		max-width: 188.2rem;

		@include breakpoint(md, max) {
			padding-left: 0;
			padding-right: 0;
		}
	}

	.section-block {
		padding-top: 16.3rem;
		min-height: 50rem;
		overflow: hidden;

		@include breakpoint(md, max) {
			padding-top: 17.1rem;
			border-radius: 0;
		}

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url("#{$images}bg-04.jpg") no-repeat;
			background-position: center;
			background-size: cover;
		}
	}

	.h2 {
		margin-bottom: 2.9rem;

		@include breakpoint(md, max) {
			margin-bottom: 3.6rem;
		}
	}

	.content-holder {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
