.section-1 {
	.section-block {
		min-height: 66.6rem;
		justify-content: space-between;
		overflow: hidden;

		@include breakpoint(md, max) {
			min-height: 45.5rem;
		}

		@include breakpoint(sm, max) {
			min-height: 31rem;
			padding-top: 4rem;
		}

		.content-holder {
			@include breakpoint(sm, max) {
				padding-left: 2.4rem;
				padding-right: 2.4rem;
			}
		}

		.text-holder {
			@include breakpoint(sm, max) {
				text-align: left;
			}
		}
	}

	.h2 {
		margin-bottom: 2.4rem;

		@include breakpoint(md, max) {
			margin-bottom: 1.6rem;
		}

		@include breakpoint(sm, max) {
			margin-bottom: 1rem;
			text-align: left;
		}
	}

	.img-holder {
		margin-top: -7.1%;

		@include breakpoint(md, max) {
			margin-top: -9.2%;
		}

		@include breakpoint(sm, max) {
			transform: scale(1.4) translate(0%, -7%);
		}
	}
}
